extends ../layout

block nav-apps
  li.active: a(href='/apps') Apps

block header-title
  h1 Applications
block header-button

block content

  
  .card
    p.lead Applications all you to share a configuration across many numbers
    //- form
    //-   .form-group
    //-     label Search Applications
    //-     input(type="text", placeholder="Search Applications", class="form-control")
    //-     a.btn.btn-primary Search
      
    form#searchApps
      .form-group
        label Search Applications     
        .input-group
          input(type="text", class="form-control", placeholder="Search Applications")
          .input-group-btn
            button.btn.btn-primary(type="button") Search