extends ../layout

block nav-numbers
  li.active: a(href='/numbers') Numbers

block header-title
  h1 Numbers
block header-button
  a.btn.btn-primary.btn-ghost(href='/numbers/buy') + Purchase a Number

block content

  .card
    form#searchExistingPhoneNumbers
      .form-group
        label Search Numbers     
        .input-group
          input(type="text", class="form-control", placeholder="Search Numbers")
          .input-group-btn
            button.btn.btn-primary(type="button") Search
    
    table
      thead: tr
        td Number
        td Label
        td Configuration
        td
      tbody
        tr
          td: a(href="#") 2124567890
          td (212) 456-7890
          td.config 
            span.tag-app APP 
            a(href="#") Campaign One App
          td.text-right: span(data-toggle="tooltip" title="Edit Number"): button.btn.btn-primary.btn-ghost.btn-icon.btn-edit(type='button' data-toggle='modal' data-target='#modalEditNumber') Edit
        tr
          td: a(href="#") 2124567890
          td (212) 456-7890
          td.config 
            span.tag-url URL 
            a(href="#") http://www.mydomain.com/callbackpath
          td.text-right: span(data-toggle="tooltip" title="Edit Number"): button.btn.btn-primary.btn-ghost.btn-icon.btn-edit(type='button' data-toggle='modal' data-target='#modalEditNumber') Edit  
        tr
          td: a(href="#") 2124567890
          td (212) 456-7890
          td.config 
            span.tag-app APP 
            a(href="#") Campaign One App
          td.text-right: span(data-toggle="tooltip" title="Edit Number"): button.btn.btn-primary.btn-ghost.btn-icon.btn-edit(type='button' data-toggle='modal' data-target='#modalEditNumber') Edit