/** Forms & Inputs **/
form {
  .form-group {
    label {
      color: @darkgrey;
      font-size: 12px;
      font-weight: normal;
    }
    input {
      color: @black;
      border: 1px solid @borders;
      box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      &:focus {
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
        border-color: darken(@borders, 10%);
      }
      &:active {
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
        border-color: darken(@borders, 10%);
      }
    }
    &::-webkit-input-placeholder {
      color: @grey;
    }
    &::-moz-placeholder {
      color: @grey;
    }
    &:-ms-input-placeholder {
      color: @grey;
    }
    &:-moz-placeholder {
      color: @grey;
    }
  }
  label.required {
    &:after {
      display: inline-block;
      margin-left: 5px;
      content: "*";
    }
  }
  .has-error {
    label {
      color: @red;
    }
    color: @red;
    .form-control {
      border-color: @red !important;
      box-shadow: none !important;
      &:focus, &:active {
        box-shadow: none !important;
      }
    }
    .help-block,
    .checkbox {
      color: @red;  
    }
    
  }
}

.radio {
  display: block;
  margin: 0;
  line-height: normal;
  cursor: pointer !important;
  input {
    cursor: pointer;
    margin: 0;
    margin-right: 5px;
    padding: 0;
    position: relative;
  }
  label {
    margin: 0;
    padding: 0;
    height: auto;
    min-height: auto;
  }
}



/** Select Menus **/
select,
select.form-control {
  position: relative;
  background: none;
  background-image: url("/assets/images/icon-select.png");
  background-position: 95% 50%;
  background-repeat: no-repeat;
  appearance: none;
  border: 1px solid @borders;
  box-shadow: none;
  border-radius: 3px;
  padding: 6px 20px 6px 12px;
  &:focus,
  &:active {
    box-shadow: none;
    border-color: @borders;
    outline: none;
    appearance: none;
  }
}
select:before {
  display: block;
  content: "v";
  position: absolute;
  top: 0;
  right: 0;
}