/** Global **/
@import "variables";
@import "global";

/** UI **/
@import "forms";
@import "buttons";
@import "tabs";
@import "tables";
@import "labels";
@import "modals";
@import "spinners";
@import "tooltips";
@import "checkboxes";

/** Components **/
@import "header";
@import "footer";

/** Pages **/
@import "help";
@import "website";




/** Page Specific Styles **/

form#Usage {

}

.credentials {
  display: inline-block;
  &.account {
    margin-right: 10px;
  }
  &.apikey {

  }
}

a.sms-link {
  display: block;
  padding: 10px 60px 10px 10px;
  background-color: @white;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  border-radius: 2px;
  border: 1px solid @borders;
  h4 {
    font-weight: bold;
    margin-bottom: 0;
    color: @black;
  }
  p {
    color: @darkgrey;
  }
  &.link-numbers {
    background-image: url("/assets/images/icon-numbers.png");
  }
  &.link-help {
    background-image: url("/assets/images/icon-docs.png");
  }
  &:hover {
    text-decoration: none;
    border-color: @green;
    box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.10);
  }
}


.form-button {
  .btn {
    margin-top: 24px;  
  }
}

form#searchLogs {

}

form#searchPhoneNumbers {
  span.radio-inline  {
    margin-top: 8px;
  }
}










