extends ../layout-website

block header-website-title
  .text-center: h1 Products

block content
  section.about-headline
    .container
      .row
        .col-sm-8.col-centered
          .text-center
            h3 Here Are All Of Our Products
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet.

  section.features
    .container
      .row
        .col-sm-4
          .feature
            .icon--sms
            h3 Applications
            p Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum
        .col-sm-4
          .feature
            .icon--campaign-management
            h3 Campaign Management
            p Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum
        .col-sm-4
          .feature
            .icon--ip-messaging
            h3 Short Codes
            p Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum