extends ../layout-website

block header-website-title
  .text-center: h1 Pricing

block content
  //- section.about-headline
  //-   .container
  //-     .row
  //-       .col-sm-8.col-centered
  //-         .text-center
  //-           h3 Catchy Headline About GoldenGate
  //-           p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet.

  section.pricing
    .container
      .row.pricing-row
        .col-sm-3.product
          h4 Local Connectivity
          p Engage with phone numbers that have prefixes indicating geography
        .col-sm-3.segment
          h5 Numbers
          .price
            div
              span.amount $1.00
            .description per month
        .col-sm-3.segment
          h5 Local Text Messages
          .row
            .col-sm-6.price
              div
                span.amount $0.0075
              .description to receive
            .col-sm-6.price
              div
                span.amount $0.0075
              .description to send *
        .col-sm-3.segment
          h5 Local Picture Messages
          .row
            .col-sm-6.price
              div
                span.amount $0.01
              .description to receive
            .col-sm-6.price
              div
                span.amount $0.02
              .description to send *
      .row.pricing-row
        .col-sm-3.product
          h4 Short Code Phone Numbers
          p 5-6 digit phone numbers that can send and receive messages with mobile phones
        .col-sm-3.segment
          h5 Numbers
          .price
            div
              span.amount $3k
            .description per 3 months
        .col-sm-3.segment
          h5 Short Code Text Messages
          .row
            .col-sm-6.price
              div
                span.amount $0.005
              .description to receive
            .col-sm-6.price
              div
                span.amount $0.01
              .description to send *
        .col-sm-3.segment
          h5 Short Code Picture Messages
          .row
            .col-sm-6.price
              div
                span.amount $0.01
              .description to receive
            .col-sm-6.price
              div
                span.amount $0.02
              .description to send *
      .row.pricing-row
        .col-sm-3.product
          h4 Toll-Free Phone Numbers
          p Phone numbers that are free for callers, making them ideal for your business
        .col-sm-3.segment
          h5 Numbers
          .price
            div
              span.amount $2.00
            .description per month
        .col-sm-3.segment
          h5 Toll-Free Text Messages
          .row
            .col-sm-6.price
              div
                span.amount $0.075
              .description to receive
            .col-sm-6.price
              div
                span.amount $0.0075
              .description to send *
        .col-sm-3.segment
      .row.pricing-row
        .col-sm-3.product
          h4 Media Storage
          p Files transferred via MMS are stored until an HTTP DELETE is requested.
        .col-sm-3.segment
          h5 First 5 GB
          .price
            div
              span.amount FREE
        .col-sm-3.segment
          h5 Additional Storage
          .price
            div
              span.amount $0.20                
            .description per GB, over 5GB
        .col-sm-3.segment

      .row.pricing-row
        .footnote Unless otherwise stated, taxes are not included in our prices and all applicable taxes are payable by Customer. All prices in USD and are subject to change. United States Short Codes will incur a one-time setup fee of $650. Additional fees may apply.
