extends ../layout

block header

block content
  .page-push-top
    .col-sm-8.col-centered
      .card
        h1 Get Started For Free
        p 
          | Already have an account? 
          a(href="/login") Login Here
        hr
        form
          .row
            .col-sm-6
              .form-group
                label.required First Name
                input(type="text", placeholder="First Name", class="form-control")
            .col-sm-6
              .form-group
                label.required Last Name
                input(type="text", placeholder="Last Name", class="form-control")
          .row
            .col-sm-12
              .form-group.has-error
                label.required Email
                input(type="email", placeholder="Email", class="form-control")
                span(id="helpBlock" class="help-block") Please include a verified email address!

          .row
            .col-sm-6
              .form-group
                label.required Password
                input(type="password", placeholder="Password", class="form-control")
            .col-sm-6
              .form-group
                label.required Password (again)
                input(type="password", placeholder="Password", class="form-control")
          .row
            .col-sm-6
              .form-group
                label Company Name (optional)
                input(type="text", placeholder="Company Name", class="form-control")
            .col-sm-6
              .form-group
                label Phone Number (optional)
                input(type="password", placeholder="Phone Number", class="form-control")
          .row
            .col-sm-12
              .form-group
                label Intended Usage (optional)
                textarea(placeholder="Intended Usage", class="form-control")
          .row
            .col-sm-12
              //- input(type="checkbox")
              //- label I accept the Terms of Service
              .has-error
                .checkbox
                  label.required
                    input(type="checkbox", id="checkboxError", value="option1")
                    | I accept the Terms of Service
                span(class="help-block") You must agree to these terms!!
          hr
          .row
            .col-sm-12.auth-footer
              button.btn.btn-primary.btn-lg Login
              a(href="#") Forgot Your Password?


              