extends ../layout

block nav-help
  li.active: a(href='/help') Help & Docs

block header-title
  h1 Help & Docs
block header-button

block content
  .card: .row

    .col-sm-3
      .help-sidebar
        ul.list-unstyled.help-section
          li.help-title Quickstart
          li: a(href="#") Overview
          li: a(href="#") Authentication
          li: a(href="#") Buying a Phone Number
          li: a(href="#") Sending a Message
          li: a(href="#") Receiving a Message
        ul.list-unstyled.help-section
          li.help-title API Reference
          li: a(href="#") Overview
          li: a(href="#") Accounts
          li: a(href="#") Keys
          li: a(href="#") Messages
          li: a(href="#") Numbers
          li: a(href="#") Numbers Available
          li: a(href="#") Number Lookup
          li: a(href="#") Shortcodes
          li: a(href="#") Subaccounts
        ul.list-unstyled.help-section
          li.help-title General
          li: a(href="#") Billing
          li: a(href="#") FAQs
          li: a(href="#") Tutorials
          li: a(href="#") Use Cases
    .col-sm-9
      .help-breadcrumb
        ol.breadcrumb
          li: a(href="#") Help & Docs
          li: a(href="#") Overview
          li.active Buying a Phone Number
      .help-content
        .help-content-title
          h2 Buying a Phone Number
        p Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. 

        p Donec eget massa a diam condimentum pretium. Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. 

        p Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut.

        h3 Donec viverra eleifend
        
        p Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. 

        p Donec eget massa a diam condimentum pretium. Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. 

        p Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut.

        h3 Donec viverra eleifend
        
        p Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. 

        p Donec eget massa a diam condimentum pretium. Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. 

        p Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim elit elementum ut.
      .help-pagination.clearfix
        a(href="#").prev
          label PREV
          p Authentication
        a(href="#").next
          label NEXT
          p Authentication