//- Create New Application
#modalCreateNewApplication.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
        h4.modal-title Create New Application
      .modal-body
        form
          .form-group
            label Name
            input(type='text', placeholder='Name your application', class='form-control')
          .row
            .col-sm-6: .form-group
              label Callback URL
              input(type='text', placeholder='Callback URL', class='form-control')
            .col-sm-6: .form-group
              label Fallback URL
              input(type='text', placeholder='Fallback URL', class='form-control')
          .checkbox
            label
              input(type="checkbox") 
              | Accept incoming messages

      .modal-footer
        a.btn.btn-default(type='button', data-dismiss='modal') Cancel
        a.btn.btn-primary(type='button') Create Application
        

//- Edit Application
#modalEditApplication.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
        h4.modal-title Edit Application
      .modal-body
        form
          .row
            .col-sm-6: .form-group
              label Name
              input(type='text', placeholder='Name', class='form-control')
            .col-sm-6: .form-group
              label ID
              input(type='text', placeholder='ID', value='279234697235', class='form-control' readonly)
          .row
            .col-sm-6: .form-group
              label Callback URL
              input(type='text', placeholder='Callback URL', class='form-control')
            .col-sm-6: .form-group
              label Fallback URL
              input(type='text', placeholder='Fallback URL', class='form-control')
          .checkbox
            label
              input(type="checkbox") 
              | Accept incoming messages
          hr
          .well.danger
            p.text-danger: b Delete Application
            p Warning text that explains what deleteing an application means
            button.btn.btn-danger Delete Application
      .modal-footer
        a.btn.btn-default(type='button', data-dismiss='modal') Cancel
        a.btn.btn-primary(type='button') Save Application
        


//- Add Users Modal
#modalAddUsers.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
        h4#myModalLabel.modal-title Add New User
      .modal-body
        form
          .row
            .col-sm-6
              .form-group
                label New User's Email
                input(type='email', placeholder='Email', class='form-control')
            .col-sm-6
              .form-group
                label Sub-Account Type
                select.form-control
                  option None
                  option Type Option
          .row
            .col-sm-12
              .radio
                label(for="administrator")
                  input(type="radio" id="administrator")
                  | Administrator
              small Can access all features including inviting users and creating sub-accounts.
            .col-sm-12
              .radio
                label(for="user")
                  input(type="radio" id="user")
                  | User
              small Full access to APIs, but can not edit users or accounts
      .modal-footer
        a.btn.btn-default(type='button', data-dismiss='modal') Cancel
        a.btn.btn-primary(type='button') Send Invitation
        

//- Buy Number Modal
#modalBuyNumber.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
        h4#myModalLabel.modal-title Buy This Number?
      .modal-body
        h1.text-center
          | +1 (212) 555-5555
        h1.text-center.text-green
          | $1.00 / month
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Buy This Number
        
      
//- Edit Number Modal
#modalEditNumber.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
        h4#myModalLabel.modal-title Edit Phone Number
      .modal-body
        .row
          .col-sm-6
            .well.text-center
              h5.text-caps Number
              h3.text-green (212) 456-7890
          .col-sm-6
            .well.text-center
              h5.text-caps Location
              h3.text-green New York, NY
        form
          .form-group
            label Phone Number
            input(class="form-control" type="text" placeholder="Phone Number" value="(212) 456-7890")
          .row
            .col-sm-6
              .form-group
                label Callback ID
                input(class="form-control" type="text" placeholder="Callback ID")
            .col-sm-6
              .form-group
                label Fallback ID
                input(class="form-control" type="text" placeholder="Fallback ID")

          hr
          .well.danger
            p.text-danger: b Release Number
            p Warning text that explains what releasing a number means
            a(href="#").btn.btn-danger Release Number


      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes